Build/CMakeFiles/cmake.check_cache
Build/CMakeFiles/CMakeDirectoryInformation.cmake
Build/CMakeFiles/CMakeOutput.log
Build/CMakeFiles/Makefile.cmake
Build/CMakeFiles/Makefile2
Build/CMakeFiles/progress.marks
Build/CMakeFiles/TargetDirectories.txt
Build/CMakeFiles/3.20.1/CMakeCCompiler.cmake
Build/CMakeFiles/3.20.1/CMakeCXXCompiler.cmake
Build/CMakeFiles/3.20.1/CMakeDetermineCompilerABI_C.bin
Build/CMakeFiles/3.20.1/CMakeDetermineCompilerABI_CXX.bin
Build/CMakeFiles/3.20.1/CMakeSystem.cmake
Build/CMakeFiles/3.20.1/CompilerIdC/a.out
Build/CMakeFiles/3.20.1/CompilerIdC/CMakeCCompilerId.c
Build/CMakeFiles/3.20.1/CompilerIdCXX/a.out
Build/CMakeFiles/3.20.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Build/CMakeFiles/Manifold.dir/build.make
Build/CMakeFiles/Manifold.dir/cmake_clean_target.cmake
Build/CMakeFiles/Manifold.dir/cmake_clean.cmake
Build/CMakeFiles/Manifold.dir/compiler_depend.internal
Build/CMakeFiles/Manifold.dir/compiler_depend.make
Build/CMakeFiles/Manifold.dir/compiler_depend.ts
Build/CMakeFiles/Manifold.dir/depend.make
Build/CMakeFiles/Manifold.dir/DependInfo.cmake
Build/CMakeFiles/Manifold.dir/flags.make
Build/CMakeFiles/Manifold.dir/link.txt
Build/CMakeFiles/Manifold.dir/progress.make
Build/CMakeFiles/Manifold.dir/Manifold/src/Test.cpp.o
Build/CMakeFiles/Manifold.dir/Manifold/src/Test.cpp.o.d
Build/CMakeFiles/Sandbox.dir/build.make
Build/CMakeFiles/Sandbox.dir/cmake_clean.cmake
Build/CMakeFiles/Sandbox.dir/compiler_depend.internal
Build/CMakeFiles/Sandbox.dir/compiler_depend.make
Build/CMakeFiles/Sandbox.dir/compiler_depend.ts
Build/CMakeFiles/Sandbox.dir/depend.make
Build/CMakeFiles/Sandbox.dir/DependInfo.cmake
Build/CMakeFiles/Sandbox.dir/flags.make
Build/CMakeFiles/Sandbox.dir/link.txt
Build/CMakeFiles/Sandbox.dir/progress.make
Build/CMakeFiles/Sandbox.dir/Sandbox/src/Application.cpp.o
Build/CMakeFiles/Sandbox.dir/Sandbox/src/Application.cpp.o.d
Build/cmake_install.cmake
Build/CMakeCache.txt
