Build/CMakeFiles/cmake.check_cache
Build/CMakeFiles/CMakeDirectoryInformation.cmake
Build/CMakeFiles/CMakeOutput.log
Build/CMakeFiles/Makefile.cmake
Build/CMakeFiles/Makefile2
Build/CMakeFiles/progress.marks
Build/CMakeFiles/TargetDirectories.txt
Build/CMakeFiles/3.20.1/CMakeCCompiler.cmake
Build/CMakeFiles/3.20.1/CMakeCXXCompiler.cmake
Build/CMakeFiles/3.20.1/CMakeDetermineCompilerABI_C.bin
Build/CMakeFiles/3.20.1/CMakeDetermineCompilerABI_CXX.bin
Build/CMakeFiles/3.20.1/CMakeSystem.cmake
Build/CMakeFiles/3.20.1/CompilerIdC/a.out
Build/CMakeFiles/3.20.1/CompilerIdC/CMakeCCompilerId.c
Build/CMakeFiles/3.20.1/CompilerIdCXX/a.out
Build/CMakeFiles/3.20.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Build/CMakeFiles/Manifold.dir/build.make
Build/CMakeFiles/Manifold.dir/cmake_clean_target.cmake
Build/CMakeFiles/Manifold.dir/cmake_clean.cmake
Build/CMakeFiles/Manifold.dir/compiler_depend.internal
Build/CMakeFiles/Manifold.dir/compiler_depend.make
Build/CMakeFiles/Manifold.dir/compiler_depend.ts
Build/CMakeFiles/Manifold.dir/depend.make
Build/CMakeFiles/Manifold.dir/DependInfo.cmake
Build/CMakeFiles/Manifold.dir/flags.make
Build/CMakeFiles/Manifold.dir/link.txt
Build/CMakeFiles/Manifold.dir/progress.make
Build/CMakeFiles/Manifold.dir/Manifold/src/Test.cpp.o
Build/CMakeFiles/Manifold.dir/Manifold/src/Test.cpp.o.d
Build/CMakeFiles/Sandbox.dir/build.make
Build/CMakeFiles/Sandbox.dir/cmake_clean.cmake
Build/CMakeFiles/Sandbox.dir/compiler_depend.internal
Build/CMakeFiles/Sandbox.dir/compiler_depend.make
Build/CMakeFiles/Sandbox.dir/compiler_depend.ts
Build/CMakeFiles/Sandbox.dir/depend.make
Build/CMakeFiles/Sandbox.dir/DependInfo.cmake
Build/CMakeFiles/Sandbox.dir/flags.make
Build/CMakeFiles/Sandbox.dir/link.txt
Build/CMakeFiles/Sandbox.dir/progress.make
Build/CMakeFiles/Sandbox.dir/Sandbox/src/Application.cpp.o
Build/CMakeFiles/Sandbox.dir/Sandbox/src/Application.cpp.o.d
Build/cmake_install.cmake
Build/CMakeCache.txt
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-59a3490d2cd07d20a27a.json
build/.cmake/api/v1/reply/codemodel-v2-3cf7f7cb7ceaa0c0e310.json
build/.cmake/api/v1/reply/index-2021-06-19T17-47-52-0423.json
build/.cmake/api/v1/reply/target-Manifold-Debug-5deeb1fbef9de52a52f3.json
build/.cmake/api/v1/reply/target-Sandbox-Debug-163e23fc424e8508a9e1.json
build/.cmake/api/v1/reply/toolchains-v1-83a259284e798bbdff0a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.3/CMakeCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.3/CMakeSystem.cmake
build/CMakeFiles/3.20.3/CompilerIdC/a.out
build/CMakeFiles/3.20.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.3/CompilerIdCXX/a.out
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Manifold.dir/build.make
build/CMakeFiles/Manifold.dir/cmake_clean.cmake
build/CMakeFiles/Manifold.dir/compiler_depend.make
build/CMakeFiles/Manifold.dir/compiler_depend.ts
build/CMakeFiles/Manifold.dir/depend.make
build/CMakeFiles/Manifold.dir/DependInfo.cmake
build/CMakeFiles/Manifold.dir/flags.make
build/CMakeFiles/Manifold.dir/link.txt
build/CMakeFiles/Manifold.dir/progress.make
build/CMakeFiles/Manifold.dir/Manifold/src/Manifold/Application.cpp.o
build/CMakeFiles/Manifold.dir/Manifold/src/Manifold/Application.cpp.o.d
build/CMakeFiles/Sandbox.dir/build.make
build/CMakeFiles/Sandbox.dir/cmake_clean.cmake
build/CMakeFiles/Sandbox.dir/compiler_depend.make
build/CMakeFiles/Sandbox.dir/compiler_depend.ts
build/CMakeFiles/Sandbox.dir/depend.make
build/CMakeFiles/Sandbox.dir/DependInfo.cmake
build/CMakeFiles/Sandbox.dir/flags.make
build/CMakeFiles/Sandbox.dir/link.txt
build/CMakeFiles/Sandbox.dir/progress.make
build/CMakeFiles/Sandbox.dir/Sandbox/src/SandboxApp.cpp.o
build/CMakeFiles/Sandbox.dir/Sandbox/src/SandboxApp.cpp.o.d
build/bin/Sandbox
build/lib/libManifold.so
Build/Makefile
Build/bin/Sandbox
Build/lib/libManifold.so
